# Node.js
node_modules/
.env

# Python
__pycache__/
*.py[cod]
env/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# OS junk
Thumbs.db
Desktop.ini

# Build artifacts
dist/
build/
*.exe
*.dll
*.class
*.jar

# Git
.git/